{% extends 'menuauditoria.html' %}
{% load crispy_forms_tags %}
{% block content%}

<p>{{nombre}}</p>
<h1> Liquidaciones de Maquinas</h1>
<p></p>

<form class="row g-3">
      <div class="col-md-6">
        <label for="inputnumero" class="form-label">Numero_LIQ:</label>
        <input type="text" class="form-control" id="inputnumero">
      </div>
      <div class="col-md-6">
        <label for="inputmes" class="form-label">Mes:</label>
        <input type="date" class="form-control" id="inputmes">
      </div>
      <div class="col-6">
        <label for="inputcliente" class="form-label">Cliente:</label>
        <input type="text" class="form-control" id="inputcliente" value="{{nombre}}">
      </div>

      <div class="col-md-6">
        <label for="inputano" class="form-label">Año:</label>
        <input type="date" class="form-control" id="inputano" >
      </div>
    <div class="col-md-6">
        <label for="inputrazon" class="form-label">Razon Social:</label>
        <input type="text" class="form-control" id="inputrazon" >
      </div>
    <div class="col-md-4">
        <label for="modalidad" class="form-label">Status:</label>
        <select id="modalidad" class="form-select">
            <option selected>Todos los Status...</option>
            <option >CALCULADA</option>
            <option >REVISADA</option>
            <option >ENVIADA</option>
            <option >CERRADA</option>
        </select>
    </div>

    <fieldset id="borde2">
        <button type="button" class="btn btn-danger">Filtrar</button>
        <button type="button" class="btn btn-danger">Todos</button>
    </fieldset>
    <center>
        <h2> Lista de liquidaciones</h2>
    </center>

    <style type="text/css">
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td, th{
            padding: 10px;
        }
        th {
            text-align: left;
        }
    </style>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Numero LIQ</th>
                <th scope="col">Cliente</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Status</th>
                <th scope="col">Tp</th>
                <th scope="col">Periodo liq.</th>
                <th scope="col">pnd</th>
                <th scope="col"># de maquinas</th>
                <th scope="col">$Ingreso / Neto</th>
                <th scope="col">$Desbalance</th>
                <th scope="col">$Impuesto /IVA/ Otros/ Descuentos</th>
                <th scope="col">$Neto cliente</th>
                <th scope="col">$Neto IGG</th>
                <th scope="col">$ Saldo (Pendiente - a favor)</th>
                <th colspan="2">Opciones</th>
             </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" id="inputid" value="{{liquidacion.id}}">
                        {% endfor %}</th>
                <td ><Mar></Mar>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control"  value="{{liquidacion.numero}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" id="inputcliente2" value="{{liquidacion.clientes}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.razon}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.id_status}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{id_mes}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.nro_maquinas}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.neto}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="liquidacion.desbalance">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.suma_impuestos}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.monto}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control" value="{{liquidacion.monto_igg}}">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <input type="text" class="form-control">
                        {% endfor %}</td>
                <td>{% for liquidacion in liquidaciones %}
                            <button type="button" class="btn btn-danger">Editar</button>  <button type="button" class="btn btn-danger">Ver</button>
                        {% endfor %}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <center>
    <fieldset id="borde3">
        <button type="button" class="btn btn-primary">Agregar</button>
        <button type="button" class="btn btn-primary">Agregar x Batch</button>
        <button type="button" class="btn btn-primary">Enviar Email x Batch</button>
        <button type="button" class="btn btn-primary">Imprimir</button>
        <button type="button" class="btn btn-primary">Cerrar</button>
    </fieldset>
    </center>
{% endblock%}