
{% extends 'menuinstalacion.html' %}
{% load crispy_forms_tags %}
{% block content%}

    <fieldset id="borde" xmlns="http://www.w3.org/1999/html">
    <h5>  Retiros de Maquinas </h5>
    </fieldset>

  <p></p>
<form class="row g-3">
      <div class="col-md-6">
        <label for="inputnumero" class="form-label">Numero_ASG:</label>
        <input type="text" class="form-control" id="inputnumero">
      </div>
      <div class="col-md-6">
        <label for="inputfecharegistro" class="form-label">Mes:</label>
        <input type="date" class="form-control" id="inputfecharegistro">
      </div>
      <div class="col-md-6">
        <label for="inputcliente" class="form-label">Cliente:</label>
        <select class="col-md-12" id="inputcliente" class="form-selec">
                <option>Todos los Clientes...</option>
                {% for Cliente in clientes %}
                    <option value="{{Cliente.nombre}}">{{Cliente.nombre}}</option>
                {% endfor %}
            </select>
      </div>

      <div class="col-md-6">
        <label for="inputfechaasginacion" class="form-label">Año:</label>
        <input type="date" class="form-control" id="inputfechaasginacion" >
      </div>

      <div class="col-md-6">
          <label form="Asignacione" class="form-label">Status:</label><br>
          <select class="col-md-4">
                    <option>Todos los Status...</option>
                  {% for Asignacione in asignaciones %}
                        <option value="{{Asignacione.stado}}">{{Asignacione.stado}}</option>
                  {% endfor %}
          </select>
      </div>


        <center>
        <h3>Lista de Ordenes de Retiro de Maquinas</h3>
        </center>
            <!--<div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>--!>

        <table class="table table-bordered">
        <thead>
            <tr>

                <th scope="col">Numero ASG</th>
                <th scope="col">Cliente</th>
                <th scope="col">Contacto</th>
                <th scope="col">Status</th>
                <th scope="col">Fecha Asignación</th>
                <th scope="col">Mod Ope.</th>
                <th scope="col">Cant. Maq</th>
                <th scope="col">Opciones</th>
             </tr>
        </thead>
            <tbody>
                <tr>

                    <td WIDTH="80" HEIGHT="80">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.numero}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.clientes}}" readonly onmousedown="return false;" name="clienteconectar">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.contacto}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.stado}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.fecha_asignacion}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <TD WIDTH="250" HEIGHT="200">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.modelo}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td WIDTH="60" HEIGHT="60">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="#" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td WIDTH="140" HEIGHT="140">
                        {% for asignacion in asignaciones %}
                            <a href="{% url 'instalar'%}" type="button" class="btn btn-danger">Editar</a>  <button type="button" class="btn btn-danger">Ver</button>
                        {% endfor %}
                    </td>


                </tr>
            </tbody>
        </table>
      <p></p>

      <center>
      <fieldset id="borde2">
          <a href="{% url 'retirar'%}" class="btn btn-success">Agregar</a>
          <a href="#" class="btn btn-success">Imprimir</a>
          <a href="#" class="btn btn-success">Cerrar</a>
      </fieldset>
       </center>


</form>
{% endblock%}