{% extends 'menusoporte.html' %}
{% load crispy_forms_tags %}
{% block content%}


    <fieldset id="borde">
    <h5> Servicio Tecnico de Clientes</h5>
    </fieldset>

  <p></p>
<form class="row g-3">
      <div class="col-md-4">
        <label for="inputnumero" class="form-label">Numero TEC:</label>
        <input type="text" class="form-control" id="inputnumero" >
      </div>
      <div class="col-md-4">
        <label for="inputfecharegistro" class="form-label">Mes:</label>
        <input type="date" class="form-control" id="inputfecharegistro">
        </div>
       <div class="col-md-6">
         <label for="inputcliente" class="form-label">Cliente:</label>
            <select id="inputcliente" class="form-select">
                <option>Todos los Clientes...</option>
                    {% for Cliente in clientes %}
                        <option value="{{Cliente.id}}">{{Cliente.nombre}}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
        <label for="inputano" class="form-label">Año:</label>
        <input type="date" class="form-control" id="inputano">
        </div>
        <div class="col-md-6">
         <label for="inputstatus" class="form-label">Status:</label>
            <select id="inputstatus" class="form-select">
                <option>Todos los Status...</option>
                <option>EN PROCESO</option>
                <option>PENDIENTE</option>
                <option>CERRADA</option>
            </select>
        </div>
        <fieldset id="borde3">

                <button type="submit" class="btn btn-danger">Filtrar</button>
                <a href="{% url 'listaasignacion'%}" type="button" class="btn btn-danger">Todos</a>
        </fieldset>
        <center>
        <h3>Lista de Fallas Reportadas</h3>
        </center>
            <!--<div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>--!>
        <style type="text/css">

            td, th{
                padding: 10px;
            }
            th {
                text-align: center;
                font-size: 15px;
            }
            td{
                font-size: 5px;
            }

    </style>
        <table class="table table-bordered">
        <thead>
            <tr>
                <!--<th scope="col">ID</th>--!>
                <th scope="col">Numero ASG</th>
                <th scope="col">Cliente</th>
                <th scope="col">Contacto</th>
                <th scope="col">Status</th>
                <th scope="col">Fecha Asignación</th>
                <th scope="col">Mod Ope.</th>
                <th scope="col">Cant. Maq</th>
                <th scope="col">Opciones</th>
             </tr>
        </thead>
            <tbody>
                <tr>
                    <!--<td WIDTH="50" HEIGHT="50">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" id="inputid" value="{{asignacion.id}}" readonly onmousedown="return false;">
                        {% endfor %}--!>
                    </td>
                    <td WIDTH="80" HEIGHT="80">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.id}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" id="textcliente" value="{{asignacion.clientes}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input id="contacto" type="text" class="form-control" value="{{asignacion.contacto}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>

                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.stado}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td>
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.fecha_asignacion}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <TD WIDTH="250" HEIGHT="200">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="{{asignacion.modelo}}" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <td WIDTH="60" HEIGHT="60">
                        {% for asignacion in asignaciones %}
                            <input type="text" class="form-control" value="#" readonly onmousedown="return false;">
                        {% endfor %}
                    </td>
                    <script>
                        function enviartexto(){
                            var texto=document.getElementById("textcliente").value;
                            document.getElementById("inputcliente").value=texto;
                        }
                    </script>
                    <td WIDTH="140" HEIGHT="140">
                        {% for asignacion in asignaciones %}
                            <a href="{% url 'asignar'%}" type="submit" class="btn btn-danger">Editar</a> &nbsp;  <button type="button" class="btn btn-danger">Ver</button>
                        {% endfor %}
                    </td>


                </tr>
            </tbody>
        </table>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <center>
      <fieldset id="borde2">
          <a href="{% url 'agregarfalla'%}" class="btn btn-success">Agregar</a>
          <a href="#" class="btn btn-success">Imprimir</a>
          <a href="#" class="btn btn-success">Cerrar</a>
      </fieldset>
       </center>


</form>
{% endblock%}