{% extends 'layout.html' %}

<!--{% block title %}
    {{ title }}
{% endblock title %}--!>


{% block content %}
	<body>

		<table border="0" width="100%" cellspacing="0" id="table2" cellpadding="0">
    		<tr>
	    		<td height="32" align="center" valign="middle">
	        		<table id="linea" class="box-home-menu-sombra" height="17" width="95%" bgcolor="#FF9900">
	        			<tr>
	        				<td align="center">
								<b><font size="4" face="Arial Black" color="#666666">SISTEMA</font><font size="4" face="Arial Black" color="#FFFFFF">SG</font>&nbsp;&nbsp;<font face="Tahoma" color="#FFFFFF" size="2">- Manager</font></b>
							</td>
						</tr>
					</table>
				</td>
    		</tr>
			<tr>
    			<td height="30" valign="middle" align="center">
	    			<table border="0" width="95%" height="25" cellspacing="0" background="images/titulogris.gif" class="box-home-sombra">
						<tr>
							<td align="center"><b><font color="#FFFF00" size="2" face="Verdana">Menu Principal</font></b></td>
						</tr>
					</table>
				</td>
    		</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Maestros</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Visor Inteligente</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Monitor Grafico</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Servicios</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Fallas / Soportes</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Auditoria</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Procesos IGG</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Almacen</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>
			<tr>
	            <td height="32" align="left" valign="middle">
	            	<table id="linea1" class="box-home-menu-sombra" height="20" width="10%" onmouseover="ccolormin(linea1); return true" onmouseout="ccolormout(linea1,'PR'); return true" bgcolor="#FF9900">
	            		<tr>
	            			<td>
			            		<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" style="text-decoration: none">&nbsp;<img border="0" src="img/plus.gif"></a>&nbsp;<a target="_self" href="homemenu.asp?CNivel=2&CSub=MA&COpc=&CTer=" title="Ajustar los Datos Principales del sistema (Maestros)" style="text-decoration: none"><font color="#17202A" face="Tahoma" size="2" onmouseover="this.style.color = '#0000CC';" onmouseout="this.style.color = '#FFFFFF';"><b>Cerrar / Salir</b></font></a>
	            			</td>
	            		</tr>
					</table>
            	</td>
			</tr>

			<tr>
            	<td height="10" align="center">
				</td>
		    </tr>
            <tr>
            	<td align="center">
		    	    <b><a href="http://www.spotgaming.co" target="_blank"><img name="img4" border="0" title="http://www.spotgaming.co" src="img/LogoSG.gif"></a>
				</td>
		    </tr>

            <tr>
            	<td align="center">
		    	    <font size="1" face="Tahoma" color="#FFFFFF">Copyright © 2007 - 2017</font></td></tr>
			<tr>
            	<td align="center">
			        <font face="Verdana" size="1" color="#FFFFFF">El uso de este sistema implica la aceptación del
			        <a href="HomeMenu.asp?CNivel=1&CSub=&COpc=&CTer=" target="_self" onclick="window.showModalDialog('AvisoLegal.htm','VenAvisoLegal','dialogHeight: 450px; dialogWidth: 460px; edge: Raised; center: yes; resizable: no; status: no; scroll: yes; unadorned: no;');" style="text-decoration: none">
			        <font face="Verdana" size="1" color="#FFFF00">Aviso Legal</font></a></font></td>
			</tr>


	</body>
{% endblock content %}